article {
  display: flex;
  width: 100%;
  height: 70vh;
}

article p,
h1,
a {
  width: 60%;
  text-decoration: none;
}

.article__image,
.article__text {
  width: 50%;
}
.full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__image {
  object-fit: cover;
}

.article__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__description {
  margin: 2rem 0;
  font-weight: 600;
  color: var(--very-dark-grayish-blue);
  line-height: 2rem;
}

.article__absolute {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  width: 90%;
}

.article__absolute h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--very-dark-grayish-blue);
}

.article__link {
  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 0.5rem;
}

/* -- color underline animation on hover -- */
.article__link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.article__link.yellow:after {
  background-color: var(--yellow);
}

.article__link.pink:after {
  background-color: var(--soft-red);
}

.article__link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
