/* -- this is the navbar styles with responsive -- */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: var(--dark-moderate-cyan);
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: none;
}

.nav__links {
  display: flex;
  justify-content: end;
}

.nav a {
  text-align: center;
  margin: 2rem;
  text-decoration: none;
  color: white;
}

.nav__logo {
  margin: 2rem;
}

@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav__links {
    background-color: var(--dark-moderate-cyan);
    text-align: center;
    flex-direction: column;
    max-height: 0;
    transition: 600ms ease-in-out;
    width: 100%;
    opacity: 0;
  }

  .nav__link {
    margin: 2rem;
  }

  .nav__links.isActive {
    max-height: 45vh;
    opacity: 1;
  }
}
