/* -- this is the navbar styles with responsive -- */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: none;
}
.nav__link {
  margin: auto;
}

.nav__links {
  display: flex;
  justify-content: end;
}

.nav a {
  text-align: center;
  margin: 1.6rem;
  text-decoration: none;
  color: white;
}

.nav__logo {
  margin: 2rem;
}

#contact {
  font-size: 1.2rem;
  color: black;
  background-color: white;
  padding: 1rem 2rem;
  margin-right: 3rem;
  border-radius: 40px;
  text-transform: uppercase;
}

#contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
    position: relative;
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
  }
  .nav__link a {
    color: var(--dark-desaturated-cyan);
  }
  .nav__links {
    background-color: white;
    text-align: center;
    flex-direction: column;
    max-height: 0;
    transition: 600ms ease-in-out;
    width: 100%;
    opacity: 0;
  }

  .nav__link {
    margin: 2rem;
  }

  .nav__links.isActive {
    max-height: 45vh;
    opacity: 1;
  }

  #contact {
    background-color: var(--yellow);
  }

  #contact:hover {
    background-color: var(--soft-red);
  }
}
