.photos {
  width: 100%;
  height: 50vh;
}

.photos img {
  width: 25%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media screen and (max-width: 700px) {
  .photos {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .photos img {
    width: 50%;
  }
}
